* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
	height: 100vh;
	width: 100vw;
	max-width: 1400px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}

.container-delivery {
	display: flex;
	background-color: #1f345c;
	justify-content: space-between;
	align-items: center;
	padding: 8px 35px;
}

.social-icon {
	height: 26px;
	width: auto;
	margin: 0 2px;
}

.firstLetter {
	max-width: 1400px;
	margin: 0px auto;
}
.highlight {
	font-weight: 500;
	padding: 5px;
	color: white;
}
.header {
	padding: 10px;
	text-align: right;
	border-bottom: 1px solid #e0dfdf;
}
.header a {
	text-decoration: none;
	color: #333;
}
.main-nav {
	display: flex;
	justify-content: space-evenly;
	background-color: #333;
	color: #fff;
	padding: 15px;
}
.main-nav a {
	color: #fff;
	margin: 0 5px;
}
.content {
	display: flex;
	margin: 15px;
	padding: 10px;
}

.content img {
	width: 300px;
}

.content-contact {
	margin-top: 2%;
	margin-left: 20%;
	font-size: 20px;
	text-align: center;
	padding: 5px;
}

.slider img {
	width: 200px;
}

.sale {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	margin-bottom: 30px;
	border-bottom: 1px solid #1f345c;
	padding-bottom: 15px;
}

.bestSellery {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 10px;
}
.card {
	width: 300px;
	border-radius: 8px;
	-webkit-box-shadow: 6px 6px 24px 0px rgba(186, 186, 186, 1);
	-moz-box-shadow: 6px 6px 24px 0px rgba(186, 186, 186, 1);
	box-shadow: 6px 6px 24px 0px rgba(186, 186, 186, 1);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

@media (max-width: 1400px) {
	.card {
		width: 200px;
	}
}

.card .image-box {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	position: relative;
}

.image-box .topic {
	position: absolute;
	top: 20px;
	left: 0;
	background-color: rgba(31, 52, 92, 0.43);
	color: #fff;
	padding: 0 5px 0 10px;
}

.card .image-box img {
	width: 100%;
	object-fit: inherit;
	object-position: 50% 90%;
	border-radius: inherit;
	transition: 0.5s ease-in-out;
}

.text-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.card:hover .text-overlay {
	opacity: 1;
}

.text-card {
	width: 80%;
	text-align: center;
	opacity: 1;
	cursor: default;
}

@media (max-width: 1400px) {
	.text-card {
		width: 80%;
		text-align: center;
	}

	.text-card h2 {
		font-size: 18px;
	}

	.text-card p {
		font-size: 15px;
	}
}

.drine-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.drine-name h2 {
	font-size: 20px;
}

.drine-name p {
	font-size: 12px;
}

.drine-cost {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 55px;
}

.price {
	font-weight: 500;
	font-size: 16px;
	padding: 5px;
}

.card-btn {
	padding: 10px;
	border-radius: 10px;
	color: #e0dfdf;
	background-color: #1f345c;
	cursor: pointer;
}

.secondLetter {
	max-width: 1400px;
	margin: 0 auto;
	margin-top: 20px;
}

.maker {
	border-bottom: 1px solid #1f345c;
	padding: 10px;
	text-align: center;
}

.maker-box {
	max-width: 1400px;
	margin: 15px;
	padding: 15px;
	/* border: 1px solid #e0dfdf; */
}

.maker-box h2 {
	margin: 15px 0;
	text-align: center;
}

.maker-box p {
	padding: 25px;
	font-weight: 500;
	text-align: center;
}

.maker-box ul {
	list-style-type: none;
}

.maker-box li {
	padding: 10px 5px;
}

.maker-box li i {
	margin-right: 20px;
}

.footer-contact {
	display: flex;
	justify-content: space-around;
	max-width: 1400px;
	margin: 0 auto;
	padding: 5%;
	background-color: #1f345c;
	color: #e0dfdf;
}

.footer-contact h3 {
	text-align: center;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 15px;
	color: black;
	border-radius: 25px;
}

.footer-contact a {
	color: #e0dfdf;
	margin-left: 15px;
}

.footer-contact a i {
	padding: 2px 10px;
}

.client-contact {
	display: block;
	flex-direction: column;
	text-align: center;
}

.information-contact {
	display: block;
	text-align: center;
}

.info-contact {
	display: flex;
	flex-direction: column;
}

.info-contact a:hover {
	text-decoration: underline;
	color: #e0dfdf;
}

.container-cart {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.container-cart h1 {
	text-align: center;
}

#items-list {
	margin-bottom: 5px;
}

#total {
	text-align: right;
}

